/**
 * General
 */
::-moz-selection {
  color: #fff;
  background: #bda999;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #bda999;
  text-shadow: none;
}

/**
 * Links and Buttons
 */
a {
  color: #7b7069;
  
    &:focus,
    &:hover {
        color: #968678;
    }
}

.btn-primary {
    background-color: #f39999 !important;
    border-color: #f39999 !important;

    &:hover, 
    &:focus, 
    &:active {
      background-color: #f1a3a3 !important;
      border-color: #f1a3a3 !important;
    }
}

/**
 * Pagination
 */
.page-item.active > .page-link {
    background-color: #f39999;
    border-color: #f39999;
}

.page-link {
    color: #868e96;
    border-color: #eaeae3;

    &:hover {
        color:  #f39999;
        background-color: #fbfaf9;
    }
}

/**
 * Nav
 */
#mainNav {
    a.navbar-brand {
        font-family: Playfair Display, serif;
        font-size: 1.5rem;
        text-transform: lowercase;
    }

    &.is-fixed {
        .navbar-brand, 
        .navbar-nav > li.nav-item > a {
            color: #4e4844;
        }

        .navbar-brand:focus, 
        .navbar-brand:hover,
        .navbar-nav > li.nav-item > a:focus, 
        .navbar-nav > li.nav-item > a:hover {
            color: #968678;
        }
    }
}

@media only screen and (min-width: 992px) {
    #mainNav .navbar-brand {
        padding: 7px 20px;
    }
}

/**
 * Footer
 */
.footer-links i.fa-circle {
    color: #cec2b8;
}

/**
 * Site Headings
 */
header.masthead {
    .site-heading {
        h1 {
            font-weight: 700;
        }

        .subheading {
            font-style: italic;
            font-family: Lora,'Times New Roman',serif;
            font-size: 1.6rem;
        }
    }

    .overlay {
        opacity: 0.5;
    }
}

@media only screen and (min-width: 768px) {
    header.masthead .site-heading h1 {
        font-size: 4.2rem;
    }
}

/**
 * Articles
 */
.post-preview {
    > a:focus, 
    > a:hover,
    > .post-meta > a:focus,
    > .post-meta > a:hover {
      color: #4e4844;
    } 

    .post-meta {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 768px) {
    .post-preview > a {
        >.post-title {
            font-size: 2rem;
        }

        >.post-subtitle {
            font-size: 1.4rem;
        }
    }
}

/**
 * Content
 */
.cms-content {
    > h1,
    > h2,
    > h3,
    > h4 {
        font-family: Lora,'Times New Roman',serif;
    }
}